<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <h1>Задания</h1>
    <ul>
        {% for task in tasks %}
        <li>
            <strong>{{ task.description }}</strong> -
            {% if task.status == "Completed" %}
            <span style="color: green;">Выполнено</span>
            {% else %}
            <span style="color: red;">Не выполнено</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="/">Назад</a>
</body>
</html>
